.body{
    display: flex;
    justify-content: center;
    align-items: center;

}
.main{display:flex;
    margin: 100px;
    background-color: beige;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    
}
.hi{
    position:absolute;
    }

.content1{position: relative;
    display: flex;
    justify-content: center;
   
    
}

.content2{position: relative;
    display: flex;
    justify-content: center;
    
    
}
.box1{display: block;
    width: 100px;
    height: 100px;
    background-color: red;
    transition: tranform 1s ;
    transform-origin: top left;
    transform-style: preserve-3d;
}
.box:hover .box1{
    transform: rotate(45deg);
}


.box2{ display: block;
    width: 100px;
    height: 100px;
    background-color:yellow;
    transition: tranform 0.5s linear;
    transform-origin: top right;
}
.box:hover .box2{
    transform: rotate(-45deg);
}
.box3{
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: tranform;
    transform-origin: bottom left;
    
}
.box:hover .box3{
    transform: rotate(-45deg);
}
.box4{
    width: 100px;
    height: 100px;
    background-color: green;
    transition: tranform 0.5s linear;
    transform-origin: bottom right;
}
.box:hover .box4{
    transform: rotate(45deg);
}

.box1, .box2, .box3, .box4{display:block;}
/* .box2{
    width: 100px;
    height: 100px;
    background-color: yellow;
    transition-property: transform;
    transition-duration: 2s; 
}
.box2:hover{
    transform: rotate(-90deg);
    transform-origin: top right;
}

.box3{
    width: 100px;
    height: 100px;
    background-color: blue;
    transition-property: transform;
    transition-duration: 2s; 
}

.box4{
    width: 100px;
    height: 100px;
    background-color: green;
    transition-property: transform;
    transition-duration: 2s; 
} */
